<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>DocuFlex</title>
</head>
<body>
    <div class="body">
        <div class="content">
            <main class="main" id="main">
                <h2>DocuFlex API</h2>
            </main>
        </div>
    </div>

    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</body>
</html>